body {
  
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header-content {
  font-family: Georgia, serif;
  background-color: #e0d597;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.header-content h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 80%;
  margin: 0;
  padding: 0;
  color: #000;
  display: flex;
  align-items: center; 
}

.header-content h1 img {
  width: 25px; 
  margin-right: 10px; 
}

.header-content nav {
  margin: 0;
}

.header-content nav a {
  font-family: "Times New Roman", Times, serif;
  font-size: 90%;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.header-content nav a:hover {
  color: #4CAF50;
}

.video {
  position: relative;
  width: 100%;
  height: 570px;
  left: 25%;
  
}
#fundo{
  position: absolute;
  z-index: -1;
  left: -50%;
  top: -120%;
  width: 150%;
  height: 300%;
  opacity: 40%;
}

#fundovid{
  background-color: #000;
  position: absolute;
  z-index: -1;
  left: -50%;
  top: -120%;
  width: 150%;
  height: 300%;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color:#e0d597; 
  padding: 10px 0;
}

.botao {
  display: inline-block;
  margin: 5px;
  padding: 10px 50px; 
  background-color: rgb(255, 255, 207);
  color: #000;
  text-decoration: none;
  border: 2px solid transparent; 
  border-radius: 30px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.botao:hover {
  border-color: #4CAF50;
  background-color: rgba(245, 245, 220, 0.8);
}

.flecha {
  font-size: 20px;
  color: #014401;
}

.texto {
  background-color: #ffffff; /* Cor do fundo do texto */
  padding: 70px;
  
}

.texto h2 {
  text-align: center;
  color: #000; /* Cor do título do texto */
}

.texto p {
  
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  color: #000; 
}

/*GEO*/
#geo{
  position: relative;
}
#compass{
  z-index: -1;
  position: absolute;
  top: -4px;
  left: 45px;
  size: 5%;
  visibility: hidden;
}

#geo:hover #compass{
  visibility: visible;
  animation: mover 2s forwards;

}

/*
Hidrografia
*/
/*FLORA*/
#hidro{
  position: relative;
}
#nuvem1{
  z-index: -1;
  position: absolute;
  top: 5px;
  left: 1px;
  size: 5%;
  visibility: hidden;
}
#nuvem2{
  z-index: -1;
  position: absolute;
  top: -15px;
  left: 65px;
  size: 5%;
  visibility: hidden;
}
#nuvem3{
  z-index: -1;
  position: absolute;
  top: -1px;
  left: 132px;
  size: 100%;
  visibility: hidden;
}

#hidro:hover #nuvem1{
  visibility: visible;
  animation: formar 2s 0.3s forwards;
  
} 
#hidro:hover #nuvem2{
  visibility: visible;
  animation: formar 2s 0.2s forwards;
}
#hidro:hover #nuvem3{
  visibility: visible;
  animation: formar 2s  forwards;
}


/*FAUNA*/
#fauna{
  position: relative;
}
#passarinho1{
  z-index: -1;
  position: absolute;
  top: -15px;
  left: 1px;
  size: 5%;
  visibility: hidden;
}
#passarinho2{
  z-index: -1;
  position: absolute;
  top: 5px;
  left: 30px;
  size: 5%;
  visibility: hidden;
}
#passarinho3{
  z-index: -1;
  position: absolute;
  top: -10px;
  left: 60px;
  size: 5%;
  visibility: hidden;
}

#fauna:hover #passarinho1{
  visibility: visible;
  animation: voar 2s 0.3s forwards;
  
} 
#fauna:hover #passarinho2{
  visibility: visible;
  animation: voar 2s 0.2s forwards;
}
#fauna:hover #passarinho3{
  visibility: visible;
  animation: voar 2s  forwards;
}


/*FLORA*/
#flora{
  position: relative;
}
#flor1{
  z-index: -1;
  position: absolute;
  top: 5px;
  left: 1px;
  size: 5%;
  rotate: -5deg;
  visibility: hidden;
}
#flor2{
  z-index: -1;
  position: absolute;
  top: 5px;
  left: 90px;
  size: 5%;
  visibility: hidden;
}
#flor3{
  z-index: -1;
  position: absolute;
  top: -20px;
  left: 122px;
  rotate: 30deg;
  size: 100%;
  visibility: hidden;
}

#flora:hover #flor1{
  visibility: visible;
  animation: brotar 2s 0.3s forwards;
  
} 
#flora:hover #flor2{
  visibility: visible;
  animation: brotar 2s 0.2s forwards;
}
#flora:hover #flor3{
  visibility: visible;
  animation: brotar 2s  forwards;
}

@keyframes mover {
  0%{
      transform: translateX(0px) scale(1%);
      z-index: 0;
  }

  20%{
      transform: translateX(-45px) translateY(40px)rotate(20deg)scale(20%);
      
  }

  100%{
      transform: translateX(75px) rotate(0deg) scale(100%) translateY(2.5px);
      z-index: 1;
  }
}

@keyframes voar{
  0%{
    z-index: 0;
    transform: translateX(-10px) scale(1%) translateY(100px);
  }
  100%{
    z-index: 1;
    transform: translateX(20px) scale(100%) translateY(25px);
  }
}

@keyframes flutuar {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(6px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes brotar {
  0%{
    z-index: 0;
    transform:scale(0%);
  }
  20%{
    z-index: 0;
    transform:scale(120%);
  }
  30%{
    z-index: 0;
    transform:scale(100%);
  }
  100%{
    z-index: 0;
    transform:scale(100%);
  }
}

@keyframes formar {
  0%{
    z-index: 0;
    opacity: 0%;
    transform:scale(200%) translateX(20px);
  }
  10%{
    opacity: 0%;
  }
  75%{
    z-index: 1;
    z-index: 0;
    opacity: 100%;

  }
  100%{
    z-index: 1;
    opacity: 100%;
    transform:scale(200%)translateX(0px);
  }
}
